@font-face {
    src: url(fonts/geminimoon.otf);
    font-family: custom1;
}
@font-face {
    src: url(fonts/glittenregular.otf);
    font-family: custom2;
}
@font-face {
    src: url(fonts/backtoschool.otf);
    font-family: custom3;
}
@font-face {
    src: url(fonts/milkycoffee.otf);
    font-family: custom4;
}
* {
    background-color: #E1EBE9;
    box-sizing: border-box;
}
#main-h1 {
    font-family: custom1;
    color: #62A38F;
    padding: 10px;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
p {
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    font-family: custom4;
    color: #92BDB4;
    border: #62A38F solid;
    border-radius: 50%;
    box-sizing: border-box;
    width: 10px;
    min-width: fit-content;
    margin: auto;

}
nav {
    display: flex;
    font-family: custom3;
}
ul {
    list-style-type: none;
    display: flex;
    margin: auto;
}
li {
    padding: 50px;
    padding-top: auto; 
}
a {
    text-decoration: none;
} 
a:link {
    color: ghostwhite;
}
a:visited {
    color: #62A38F;
}
li::after {
    content: '';
    width: 0rem;
    height: 0.15rem;
    background-color: #232323;
    display: block;
    border-radius: 0.2rem;
    margin: 0.2rem auto 0 auto;
    transition: all 0.2s ease-in-out;
}
li:hover::after {
    width: 2rem;
}